.question-settings-left{width: 250px;}
.gq-textbox{width: 445px;}
.answers-settings-left{width: 150px;}
.answers-text-col{width: 200px;}
.answers-true-col{width: 100px;}
.gq-desc{font-style: italic; font-size: 10px; color: #999;}